<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Travel Planner</title>
    </head>

    <body>

        <header>
            <div id="logo">
            <p>Travel<br>Planner</p>
            </div>
        </header>

        <main>
            <div id = "formstyle">
                <h1>Travel Planner</h1>
                <form>
                    <label for="destination">Where are you going?</label>
                    <input id="destination" type="text" name="article" value="" placeholder="Enter a destination">
                    <span id="errors" aria-live="polite"></span>
                    <input id="button" type="submit" name="" value="Submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
                <section>
                    <h2>Form Text: <span id="formentry"></span></h2>
                </section>
            </div>
        </main>

        <footer>
            <p>&copy Lisa Kamino 2020</p>
        </footer>
    </body>
</html>
