body {
    // background-image: url("newspaper.jpg");
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main {
    flex: 2;
}

section {
    margin: 50px auto;
}
